# Checagem de disciplinas cursadas no recomendado

#### Importando Bibliotecas

In [1]:
import pandas as pd
from statistics import mean, median, mode, stdev, variance
from os import listdir
from math import modf

In [2]:
import os
import sys
sys.path.append(os.path.abspath("util.py"))

import util

#### Abrindo Arquivos CSV

In [3]:
discentes = util.retorna_discentes()

disciplinas = util.retorna_componentes_com_semestre()

matriculas_realizadas = util.retorna_matriculas()

In [4]:
discentes.head()

   matricula   cra  periodo_ingresso  descricao  periodo_conclusao
0   18511024  8.18            1985.1  CONCLUÍDO             1988.2
1   18511029  7.70            1985.1  CONCLUÍDO             1988.2
2   18511030  9.22            1985.1  CONCLUÍDO             1988.2
3   18511033  8.31            1985.1  CONCLUÍDO             1988.2
4   18511035  8.06            1985.1  CONCLUÍDO             1988.2

In [5]:
discentes_depois = util.retorna_discentes_depois(discentes=discentes)

discentes_depois.head()

     matricula   cra  periodo_ingresso  descricao  periodo_conclusao
483   10611013  8.36            2006.1  CONCLUÍDO             2010.1
484   10611008  8.82            2006.1  CONCLUÍDO             2009.2
485   10611431  8.28            2006.1  CONCLUÍDO             2008.2
486   10611011  8.77            2006.1  CONCLUÍDO             2009.2
487   10611015  8.49            2006.1  CONCLUÍDO             2010.2

In [6]:
matriculas_discentes = discentes_depois['matricula'].to_list()

matriculas_discentes[:5]

[10611013, 10611008, 10611431, 10611011, 10611015]

In [7]:
disciplinas.head()

    codigo                            nome  ch_total  semestre
0  1101101  COMPLEMENTOS EM FISICA GERAL I        30       NaN
1  1101107          ESTRUTURA DA MATÉRIA I        60       NaN
2  1101117                  FISICA GERAL I        90       NaN
3  1101118                 FISICA GERAL II        90       NaN
4  1101119                FISICA GERAL III        90       NaN

In [8]:
disciplinas.count()

codigo      291
nome        291
ch_total    291
semestre     62
dtype: int64

In [9]:
disciplinas = disciplinas[disciplinas['semestre'] >= 1]
disciplinas.count()

codigo      62
nome        62
ch_total    62
semestre    62
dtype: int64

In [10]:
codigos_disciplinas = disciplinas['codigo'].to_list()

codigos_disciplinas[:5]

['1101167', '1101168', '1101171', '1101172', '1103104']

In [11]:
matriculas_realizadas.head()

   matricula  periodo_matricula codigo_componente descricao  media_final
0   10011003             2000.1           1103114  APROVADO          9.7
1   10011003             2000.1           1107137  APROVADO         10.0
2   10011003             2000.1           1103118  APROVADO          9.8
3   10011003             2000.1           1107136  APROVADO         10.0
4   10011003             2000.1           1101117  APROVADO         10.0

### Filtrando as matrículas nas quais os alunos obtiveram sucesso

In [12]:
matriculas_realizadas.count()

matricula            37767
periodo_matricula    37767
codigo_componente    37767
descricao            37767
media_final          35939
dtype: int64

In [13]:
aux = pd.DataFrame()

In [14]:
aux.empty

True

In [15]:
aux = aux.append(matriculas_realizadas[matriculas_realizadas['descricao'] == 'APROVADO'])

In [16]:
aux = aux.append(matriculas_realizadas[matriculas_realizadas['descricao'] == 'DISPENSADO'])

In [17]:
aux = aux.append(matriculas_realizadas[matriculas_realizadas['descricao'] == 'MATRICULADO'])

In [18]:
aux = aux.append(matriculas_realizadas[matriculas_realizadas['descricao'] == 'APROVEITADO'])

In [19]:
matriculas_realizadas = None

matriculas_realizadas = aux

matriculas_realizadas.count()

matricula            33295
periodo_matricula    33295
codigo_componente    33295
descricao            33295
media_final          33256
dtype: int64

### Tratando disciplinas com mais de um registro

Disciplinas que precisam desse tratamento:

* LOGICA APLC A COMPUTACAO e LOGICA APLICADA A COMPUTACAO

* CALCULO NUMERICO (sem nenhuma matricula) e CALCULO NUMERICO e CALCULO NUMERICO

* INTRODUCAO AO PROC DIGITAL DE IMAGENS e INTRODUÇÃO AO PROCESSAMENTO DIGITAL DE IMAGENS

* ARQUITETURA DE COMPUTADORES II e ARQUITETURA DE COMPUTADORES II

* ADM SIST DE INFORMACOES e ADMINISTRACAO DE SISTEMAS DE INFORMACAO

* CONSTRUCAO DE COMPILADORES I e CONSTRUÇÃO DE COMPILADORES I

* REDES DE COMPUTADORES I e REDES DE COMPUTADORES I

* ESTÁGIO SUPERVISIONADO e ESTAGIO SUPERVISIONADO

* FISICA APLICADA A COMPUTACAO I (de 60 creditos e de 90 creditos)

* FISICA APLICADA A COMPUTACAO II (de 60 creditos e de 90 creditos)

* CALCULO I (de 60 creditos e de 90 creditos)

* CALCULO II (de 60 creditos e de 90 creditos)

* CALCULO III (de 60 creditos e de 90 creditos)

* CIRCUITOS (de 60 creditos e de 90 creditos)

* INTRODUCAO A ALGEBRA LINEAR e ALGEBRA LIN GEO ANALITICA

In [20]:
fisica1 = []
fisica1 = disciplinas[disciplinas['nome'] == 'FISICA APLICADA A COMPUTACAO I']['codigo'].to_list()
print(fisica1)

calc1 = []
calc1 = disciplinas[disciplinas['nome'] == 'CALCULO DIFERENCIAL E INTEGRAL I']['codigo'].to_list()
print(calc1)

fisica2 = []
fisica2 = disciplinas[disciplinas['nome'] == 'FISICA APLICADA A COMPUTACAO II']['codigo'].to_list()
print(fisica2)

calc2 = []
calc2 = disciplinas[disciplinas['nome'] == 'CALCULO DIFERENCIAL E INTEGRAL II']['codigo'].to_list()
print(calc2)

algebra = []
algebra.append(disciplinas[disciplinas['nome'] == 'INTRODUCAO A ALGEBRA LINEAR']['codigo'].iloc[0])
algebra.append(disciplinas[disciplinas['nome'] == 'ALGEBRA LIN GEO ANALITICA']['codigo'].iloc[0])
print(algebra)

logica = []
logica.append(disciplinas[disciplinas['nome'] == 'LOGICA APLC A COMPUTACAO']['codigo'].iloc[0])
logica.append(disciplinas[disciplinas['nome'] == 'LOGICA APLICADA A COMPUTACAO']['codigo'].iloc[0])
print(logica)

calc3 = []
calc3.append(disciplinas[disciplinas['nome'] == 'CALCULO DIF  E INTEGRAL III']['codigo'].iloc[0])
calc3.append(disciplinas[disciplinas['nome'] == 'CALCULO DIFERENCIAL E INTEGRAL III']['codigo'].iloc[0])
print(calc3)

cl = []
cl = disciplinas[disciplinas['nome'] == 'CIRCUITOS LOGICOS']['codigo'].to_list()
print(cl)

numerico = []
numerico = disciplinas[disciplinas['nome'] == 'CALCULO NUMERICO']['codigo'].to_list()
print(numerico)

pdi = []
pdi.append(disciplinas[disciplinas['nome'] == 'INTRODUCAO AO PROC DIGITAL DE IMAGENS']['codigo'].iloc[0])
pdi.append(disciplinas[disciplinas['nome'] == 'INTRODUÇÃO AO PROCESSAMENTO DIGITAL DE IMAGENS']['codigo'].iloc[0])
print(pdi)

arq2 = []
arq2 = disciplinas[disciplinas['nome'] == 'ARQUITETURA DE COMPUTADORES II']['codigo'].to_list()
print(arq2)

redes = []
redes = disciplinas[disciplinas['nome'] == 'REDES DE COMPUTADORES I']['codigo'].to_list()
print(redes)

admsi = []
admsi.append(disciplinas[disciplinas['nome'] == 'ADM SIST DE INFORMACOES']['codigo'].iloc[0])
admsi.append(disciplinas[disciplinas['nome'] == 'ADMINISTRACAO DE SISTEMAS DE INFORMACAO']['codigo'].iloc[0])
print(admsi)

comp = []
comp.append(disciplinas[disciplinas['nome'] == 'CONSTRUCAO DE COMPILADORES I']['codigo'].iloc[0])
comp.append(disciplinas[disciplinas['nome'] == 'CONSTRUÇÃO DE COMPILADORES I']['codigo'].iloc[0])
print(comp)

estagio = []
estagio.append(disciplinas[disciplinas['nome'] == 'ESTÁGIO SUPERVISIONADO']['codigo'].iloc[0])
estagio.append(disciplinas[disciplinas['nome'] == 'ESTAGIO SUPERVISIONADO']['codigo'].iloc[0])
print(estagio)

['1101167', '1101171']
['1103114', '1103177']
['1101168', '1101172']
['1103115', '1103178']
['1103179', '1103104']
['1107149', '1107200']
['1103232', '1103112']
['1107118', '1107182']
['1103176', '1107114', 'GDCOC0072']
['1107196', 'GDSCO0055']
['1107109', 'GDSCO0037']
['1107207', 'GDSCO0062']
['1204112', '1204203']
['1107122', 'GDSCO0043']
['GDINF0100', '1107185']

In [21]:
fisica1, matriculas_realizadas = util.mapeia_disciplina(fisica1.copy(), matriculas_realizadas)
calc1, matriculas_realizadas = util.mapeia_disciplina(calc1.copy(), matriculas_realizadas)

fisica2, matriculas_realizadas = util.mapeia_disciplina(fisica2.copy(), matriculas_realizadas)
calc2, matriculas_realizadas = util.mapeia_disciplina(calc2.copy(), matriculas_realizadas)
algebra, matriculas_realizadas = util.mapeia_disciplina(algebra.copy(), matriculas_realizadas)
logica, matriculas_realizadas = util.mapeia_disciplina(logica.copy(), matriculas_realizadas)

calc3, matriculas_realizadas = util.mapeia_disciplina(calc3.copy(), matriculas_realizadas)
cl, matriculas_realizadas = util.mapeia_disciplina(cl.copy(), matriculas_realizadas)

numerico, matriculas_realizadas = util.mapeia_disciplina(numerico.copy(), matriculas_realizadas)
pdi, matriculas_realizadas = util.mapeia_disciplina(pdi.copy(), matriculas_realizadas)

arq2, matriculas_realizadas = util.mapeia_disciplina(arq2.copy(), matriculas_realizadas)

redes, matriculas_realizadas = util.mapeia_disciplina(redes.copy(), matriculas_realizadas)
admsi, matriculas_realizadas = util.mapeia_disciplina(admsi.copy(), matriculas_realizadas)
comp, matriculas_realizadas = util.mapeia_disciplina(comp.copy(), matriculas_realizadas)

estagio, matriculas_realizadas = util.mapeia_disciplina(estagio.copy(), matriculas_realizadas)

Disciplina(s) ['1101167'] mapeadas para o código 1101171
Disciplina(s) ['1103114'] mapeadas para o código 1103177
Disciplina(s) ['1101168'] mapeadas para o código 1101172
Disciplina(s) ['1103115'] mapeadas para o código 1103178
Disciplina(s) ['1103104'] mapeadas para o código 1103179
Disciplina(s) ['1107200'] mapeadas para o código 1107149
Disciplina(s) ['1103112'] mapeadas para o código 1103232
Disciplina(s) ['1107182'] mapeadas para o código 1107118
Disciplina(s) ['1107114', 'GDCOC0072'] mapeadas para o código 1103176
Disciplina(s) ['GDSCO0055'] mapeadas para o código 1107196
Disciplina(s) ['GDSCO0037'] mapeadas para o código 1107109
Disciplina(s) ['GDSCO0062'] mapeadas para o código 1107207
Disciplina(s) ['1204203'] mapeadas para o código 1204112
Disciplina(s) ['GDSCO0043'] mapeadas para o código 1107122
Disciplina(s) ['1107185'] mapeadas para o código GDINF0100

### Gerando relatório

In [22]:
relatorio = []

for codigo in codigos_disciplinas:
    
    relatorio_disciplina = {'nome': None, 'rec': None, 'nao_rec': None}

    aux = matriculas_realizadas[matriculas_realizadas['codigo_componente'] == codigo]

    disciplina = disciplinas[disciplinas['codigo'] == codigo]['nome'].iloc[0]

    periodo_recomendado = int(disciplinas[disciplinas['codigo'] == codigo]['semestre'].iloc[0])

    relatorio_disciplina['nome'] = disciplina

    matriculas = aux.count().iloc[0]
        
    #matriculas = 1

    rec = 0
    nao_rec = 0

    for row in aux.iterrows():

        #print(row[1])
        #print()

        aluno = row[1]['matricula']

        if aluno not in matriculas_discentes:
            matriculas -= 1
            continue

        else:
                
            periodo_matricula = row[1]['periodo_matricula']
            periodo_ingresso = discentes_depois[discentes_depois['matricula'] == aluno]['periodo_ingresso'].iloc[0]

            periodo_cursou = util.retorna_tempo_graduacao(periodo_ingresso, periodo_matricula)

            #print('rec: {} matri: {} ingre: {} cursou: {}'.format(periodo_recomendado, periodo_matricula, periodo_ingresso, periodo_cursou))

            if periodo_cursou == periodo_recomendado:
                rec += 1

            else:
                nao_rec += 1
                    
            #matriculas += 1

    
    relatorio_disciplina['rec'] = rec/matriculas
    relatorio_disciplina['nao_rec'] = nao_rec/matriculas
    
    relatorio.append(relatorio_disciplina)

/home/luiz/.local/lib/python3.6/site-packages/ipykernel_launcher.py:51: RuntimeWarning: invalid value encountered in long_scalars
/home/luiz/.local/lib/python3.6/site-packages/ipykernel_launcher.py:52: RuntimeWarning: invalid value encountered in long_scalars

### Ordenando relatório

In [23]:
relatorio.sort(key=lambda x: x['rec'], reverse=True)

print(relatorio)

[{'nome': 'FISICA APLICADA A COMPUTACAO I', 'rec': nan, 'nao_rec': nan}, {'nome': 'FISICA APLICADA A COMPUTACAO II', 'rec': nan, 'nao_rec': nan}, {'nome': 'ALGEBRA LIN GEO ANALITICA', 'rec': nan, 'nao_rec': nan}, {'nome': 'CALCULO DIFERENCIAL E INTEGRAL III', 'rec': nan, 'nao_rec': nan}, {'nome': 'CALCULO DIFERENCIAL E INTEGRAL I', 'rec': nan, 'nao_rec': nan}, {'nome': 'CALCULO DIFERENCIAL E INTEGRAL II', 'rec': nan, 'nao_rec': nan}, {'nome': 'CALCULO NUMERICO', 'rec': nan, 'nao_rec': nan}, {'nome': 'INTRODUCAO AO COMPUTADOR', 'rec': 0.958904109589041, 'nao_rec': 0.0410958904109589}, {'nome': 'INTRODUCAO A PROGRAMACAO', 'rec': 0.8721461187214612, 'nao_rec': 0.1278538812785388}, {'nome': 'CALCULO VET GEO ANALITICA', 'rec': 0.863013698630137, 'nao_rec': 0.136986301369863}, {'nome': 'CALCULO DIFERENCIAL E INTEGRAL I', 'rec': 0.821917808219178, 'nao_rec': 0.1780821917808219}, {'nome': 'FISICA APLICADA A COMPUTACAO I', 'rec': 0.7853881278538812, 'nao_rec': 0.2146118721461187}, {'nome': 'LOGICA APLC A COMPUTACAO', 'rec': 0.7692307692307693, 'nao_rec': 0.23076923076923078}, {'nome': 'CIRCUITOS LOGICOS', 'rec': 0.6894977168949772, 'nao_rec': 0.3105022831050228}, {'nome': 'LINGUAGEM PROGRAMACAO I', 'rec': 0.680365296803653, 'nao_rec': 0.319634703196347}, {'nome': 'FISICA APLICADA A COMPUTACAO II', 'rec': 0.5688073394495413, 'nao_rec': 0.43119266055045874}, {'nome': 'CIRCUITOS LOGICOS', 'rec': nan, 'nao_rec': nan}, {'nome': 'ESTAGIO SUPERVISIONADO', 'rec': nan, 'nao_rec': nan}, {'nome': 'LOGICA APLICADA A COMPUTACAO', 'rec': nan, 'nao_rec': nan}, {'nome': 'METODOLOGIA DO TRABALHO CIENTIFICO', 'rec': 0.6912442396313364, 'nao_rec': 0.3087557603686636}, {'nome': 'TEORIA DA COMPUTACAO', 'rec': 0.663594470046083, 'nao_rec': 0.33640552995391704}, {'nome': 'ARQUITETURA DE COMPUTADORES I', 'rec': 0.639269406392694, 'nao_rec': 0.3607305936073059}, {'nome': 'ESTRUTURA DE DADOS', 'rec': 0.5668202764976958, 'nao_rec': 0.43317972350230416}, {'nome': 'CALCULO DIFERENCIAL E INTEGRAL II', 'rec': 0.5525114155251142, 'nao_rec': 0.4474885844748858}, {'nome': 'LINGUAGENS FORMAIS E AUTOMATOS', 'rec': 0.543778801843318, 'nao_rec': 0.45622119815668205}, {'nome': 'INTRODUCAO A ALGEBRA LINEAR', 'rec': 0.5409090909090909, 'nao_rec': 0.4590909090909091}, {'nome': 'PESQUISA APLICADA A COMPUTACAO', 'rec': 0.5299539170506913, 'nao_rec': 0.4700460829493088}, {'nome': 'ESPECIFICACAO DE REQUISITOS DE SOFTWARE', 'rec': 0.4930875576036866, 'nao_rec': 0.5069124423963134}, {'nome': 'ARQUITETURA DE COMPUTADORES II', 'rec': 0.4700460829493088, 'nao_rec': 0.5299539170506913}, {'nome': 'SISTEMAS OPERACIONAIS I', 'rec': 0.41743119266055045, 'nao_rec': 0.5825688073394495}, {'nome': 'LINGUAGEM PROGRAMACAO II', 'rec': 0.4155251141552511, 'nao_rec': 0.5844748858447488}, {'nome': 'ADM DE EMPRESAS', 'rec': 0.4055299539170507, 'nao_rec': 0.5944700460829493}, {'nome': 'PARADIGMAS DE LING DE PROGRAMAÇÃO', 'rec': 0.4009216589861751, 'nao_rec': 0.5990783410138248}, {'nome': 'ORDENACAO E RECUPERACAO DE DADOS', 'rec': 0.39631336405529954, 'nao_rec': 0.6036866359447005}, {'nome': 'IINTRODUÇÃO A COMPUTAÇÃO GRÁFICA', 'rec': 0.3870967741935484, 'nao_rec': 0.6129032258064516}, {'nome': 'IINTRODUÇÃO A COMPUTAÇÃO GRÁFICA', 'rec': 0.3870967741935484, 'nao_rec': 0.6129032258064516}, {'nome': 'CALCULO DIF  E INTEGRAL III', 'rec': 0.3789954337899543, 'nao_rec': 0.6210045662100456}, {'nome': 'METODOS DE PROJETO DE SOFTWARE', 'rec': 0.3778801843317972, 'nao_rec': 0.6221198156682027}, {'nome': 'ADM SIST DE INFORMACOES', 'rec': 0.3548387096774194, 'nao_rec': 0.6451612903225806}, {'nome': 'ENGENHARIA DE SOFTWARE', 'rec': 0.3470319634703196, 'nao_rec': 0.6529680365296804}, {'nome': 'SISTEMA DE INFORMACAO E DECISAO', 'rec': 0.3394495412844037, 'nao_rec': 0.6605504587155964}, {'nome': 'CALCULO NUMERICO', 'rec': 0.3242009132420091, 'nao_rec': 0.6757990867579908}, {'nome': 'INTRODUCAO AO PROC DIGITAL DE IMAGENS', 'rec': 0.3087557603686636, 'nao_rec': 0.6912442396313364}, {'nome': 'BANCO DE DADOS I', 'rec': 0.271889400921659, 'nao_rec': 0.728110599078341}, {'nome': 'INTRODUCAO A INTELIGENCIA ARTIFICIAL', 'rec': 0.271889400921659, 'nao_rec': 0.728110599078341}, {'nome': 'INTERACAO HOMEMMAQUINA', 'rec': 0.2488479262672811, 'nao_rec': 0.7511520737327189}, {'nome': 'INTERACAO HOMEMMAQUINA', 'rec': 0.2488479262672811, 'nao_rec': 0.7511520737327189}, {'nome': 'COMPUTADORES E SOCIEDADE', 'rec': 0.2465753424657534, 'nao_rec': 0.7534246575342466}, {'nome': 'REDES DE COMPUTADORES I', 'rec': 0.2350230414746544, 'nao_rec': 0.7649769585253456}, {'nome': 'TRABALHO DE CONCLUSAO DE CURSO', 'rec': 0.20276497695852536, 'nao_rec': 0.7972350230414746}, {'nome': 'MODELOS PROBABILÍSTICOS P COMPUTAÇÃO', 'rec': 0.1893491124260355, 'nao_rec': 0.8106508875739645}, {'nome': 'ADMINISTRACAO DE SISTEMAS DE INFORMACAO', 'rec': nan, 'nao_rec': nan}, {'nome': 'LINGUA INGLESA I', 'rec': 0.1598173515981735, 'nao_rec': 0.8401826484018264}, {'nome': 'CALCULO NUMERICO', 'rec': nan, 'nao_rec': nan}, {'nome': 'ESTÁGIO SUPERVISIONADO', 'rec': 0.20276497695852536, 'nao_rec': 0.7972350230414746}, {'nome': 'CONSTRUCAO DE COMPILADORES I', 'rec': 0.1917808219178082, 'nao_rec': 0.8082191780821918}, {'nome': 'ANALISE E PROJETO DE ALGORITMOS', 'rec': 0.15207373271889402, 'nao_rec': 0.847926267281106}, {'nome': 'SERIES E EQUACOES DIF ORDINARIAS', 'rec': 0.13559322033898305, 'nao_rec': 0.864406779661017}, {'nome': 'ARQUITETURA DE COMPUTADORES II', 'rec': nan, 'nao_rec': nan}, {'nome': 'CONSTRUÇÃO DE COMPILADORES I', 'rec': nan, 'nao_rec': nan}, {'nome': 'INTRODUÇÃO AO PROCESSAMENTO DIGITAL DE IMAGENS', 'rec': nan, 'nao_rec': nan}, {'nome': 'REDES DE COMPUTADORES I', 'rec': nan, 'nao_rec': nan}]

### Salvando relatório

In [24]:
relatorio_doc = open('checagem de disciplinas cursadas no recomendado.txt', 'w+')

if relatorio_doc.readlines():
    print('ARQUIVO JÁ EXISTE!!!')
    relatorio.close()
    
else:
    
    for disciplina in relatorio:
        
        relatorio_doc.write('Disciplina: {} \n\n'.format(disciplina['nome']))
        
        relatorio_doc.write('Porcentagem pago no recomendado: {}\n'.format(disciplina['rec']))
        
        relatorio_doc.write('Porcentagem não pago no recomendado: {}\n'.format(disciplina['nao_rec']))
        
        relatorio_doc.write('-------------------------------------------------------\n\n')
    
    relatorio_doc.close()