# Análise das questões levantadas para as disciplinas do P2

#### Importando Bibliotecas

In [1]:
import pandas as pd
from statistics import mean, median, mode, stdev, variance
from os import listdir
from math import modf

In [2]:
import os
import sys
sys.path.append(os.path.abspath("util.py"))

import util
import util_extrator_padroes

#### Abrindo Arquivos CSV

In [3]:
discentes = util.retorna_discentes()

#disciplinas = util.retorna_componentes_com_semestre()

disciplinas = util.retorna_componentes()

matriculas_realizadas = util.retorna_matriculas()

matriculas_geral = util.retorna_matriculas()

In [4]:
discentes.head()

   matricula   cra  periodo_ingresso  descricao  periodo_conclusao
0   18511024  8.18            1985.1  CONCLUÍDO             1988.2
1   18511029  7.70            1985.1  CONCLUÍDO             1988.2
2   18511030  9.22            1985.1  CONCLUÍDO             1988.2
3   18511033  8.31            1985.1  CONCLUÍDO             1988.2
4   18511035  8.06            1985.1  CONCLUÍDO             1988.2

In [5]:
discentes_depois = util.retorna_discentes_depois(discentes=discentes)

discentes_depois.head()

     matricula   cra  periodo_ingresso  descricao  periodo_conclusao
483   10611013  8.36            2006.1  CONCLUÍDO             2010.1
484   10611008  8.82            2006.1  CONCLUÍDO             2009.2
485   10611431  8.28            2006.1  CONCLUÍDO             2008.2
486   10611011  8.77            2006.1  CONCLUÍDO             2009.2
487   10611015  8.49            2006.1  CONCLUÍDO             2010.2

In [6]:
matriculas_discentes = discentes_depois['matricula'].to_list()

matriculas_discentes[:5]

[10611013, 10611008, 10611431, 10611011, 10611015]

In [7]:
disciplinas.head()

    codigo                            nome  ch_total
0  1101101  COMPLEMENTOS EM FISICA GERAL I        30
1  1101107          ESTRUTURA DA MATÉRIA I        60
2  1101117                  FISICA GERAL I        90
3  1101118                 FISICA GERAL II        90
4  1101119                FISICA GERAL III        90

In [8]:
disciplinas.count()

codigo      291
nome        291
ch_total    291
dtype: int64

In [9]:
#periodo_rec = 2

In [10]:
'''disciplinas = disciplinas[disciplinas['semestre']]
disciplinas.count()'''

"disciplinas = disciplinas[disciplinas['semestre']]\ndisciplinas.count()"

In [11]:
codigos_disciplinas = disciplinas['codigo'].to_list()

codigos_disciplinas[:5]

['1101101', '1101107', '1101117', '1101118', '1101119']

In [12]:
matriculas_realizadas.head()

   matricula  periodo_matricula codigo_componente descricao  media_final
0   10011003             2000.1           1103114  APROVADO          9.7
1   10011003             2000.1           1107137  APROVADO         10.0
2   10011003             2000.1           1103118  APROVADO          9.8
3   10011003             2000.1           1107136  APROVADO         10.0
4   10011003             2000.1           1101117  APROVADO         10.0

### Tratando disciplinas com mais de um registro

Disciplinas que precisam desse tratamento:

* LOGICA APLC A COMPUTACAO e LOGICA APLICADA A COMPUTACAO

* CALCULO NUMERICO (sem nenhuma matricula) e CALCULO NUMERICO e CALCULO NUMERICO

* INTRODUCAO AO PROC DIGITAL DE IMAGENS e INTRODUÇÃO AO PROCESSAMENTO DIGITAL DE IMAGENS

* ARQUITETURA DE COMPUTADORES II e ARQUITETURA DE COMPUTADORES II

* ADM SIST DE INFORMACOES e ADMINISTRACAO DE SISTEMAS DE INFORMACAO

* CONSTRUCAO DE COMPILADORES I e CONSTRUÇÃO DE COMPILADORES I

* REDES DE COMPUTADORES I e REDES DE COMPUTADORES I

* ESTÁGIO SUPERVISIONADO e ESTAGIO SUPERVISIONADO

In [20]:
logica = []
logica.append(disciplinas[disciplinas['nome'] == 'LOGICA APLC A COMPUTACAO']['codigo'].iloc[0])
logica.append(disciplinas[disciplinas['nome'] == 'LOGICA APLICADA A COMPUTACAO']['codigo'].iloc[0])
print(logica)

numerico = []
numerico = disciplinas[disciplinas['nome'] == 'CALCULO NUMERICO']['codigo'].to_list()
print(numerico)

comp = []
comp.append(disciplinas[disciplinas['nome'] == 'CONSTRUCAO DE COMPILADORES I']['codigo'].iloc[0])
comp.append(disciplinas[disciplinas['nome'] == 'CONSTRUÇÃO DE COMPILADORES I']['codigo'].iloc[0])
print(comp)

redes = []
redes = disciplinas[disciplinas['nome'] == 'REDES DE COMPUTADORES I']['codigo'].to_list()
print(redes)

estagio = []
estagio.append(disciplinas[disciplinas['nome'] == 'ESTÁGIO SUPERVISIONADO']['codigo'].iloc[0])
estagio.append(disciplinas[disciplinas['nome'] == 'ESTAGIO SUPERVISIONADO']['codigo'].iloc[0])
print(estagio)

['1107149', '1107200']
['1103176', '1107114', 'GDCOC0072']
['1107122', 'GDSCO0043']
['1107207', 'GDSCO0062']
['GDINF0100', '1107185']

In [22]:
aux = logica+numerico+comp+redes+estagio

In [23]:
aux_df = []
for a in aux:
    print(disciplinas[disciplinas['codigo'] == a])
    aux_df.append(disciplinas[disciplinas['codigo'] == a])

     codigo                      nome  ch_total
82  1107149  LOGICA APLC A COMPUTACAO        60
      codigo                          nome  ch_total
116  1107200  LOGICA APLICADA A COMPUTACAO        60
     codigo              nome  ch_total
32  1103176  CALCULO NUMERICO        60
     codigo              nome  ch_total
58  1107114  CALCULO NUMERICO        60
        codigo              nome  ch_total
275  GDCOC0072  CALCULO NUMERICO        60
     codigo                          nome  ch_total
64  1107122  CONSTRUCAO DE COMPILADORES I        60
        codigo                          nome  ch_total
283  GDSCO0043  CONSTRUÇÃO DE COMPILADORES I        60
      codigo                     nome  ch_total
123  1107207  REDES DE COMPUTADORES I        60
        codigo                     nome  ch_total
286  GDSCO0062  REDES DE COMPUTADORES I        60
        codigo                    nome  ch_total
276  GDINF0100  ESTÁGIO SUPERVISIONADO       300
      codigo                    nome  ch_total
100  1107185  ESTAGIO SUPERVISIONADO       300

In [19]:
pd.concat(aux_df)

        codigo                                            nome  ch_total
82     1107149                        LOGICA APLC A COMPUTACAO        60
116    1107200                    LOGICA APLICADA A COMPUTACAO        60
32     1103176                                CALCULO NUMERICO        60
58     1107114                                CALCULO NUMERICO        60
275  GDCOC0072                                CALCULO NUMERICO        60
112    1107196           INTRODUCAO AO PROC DIGITAL DE IMAGENS        60
285  GDSCO0055  INTRODUÇÃO AO PROCESSAMENTO DIGITAL DE IMAGENS        60
123    1107207                         REDES DE COMPUTADORES I        60
286  GDSCO0062                         REDES DE COMPUTADORES I        60
276  GDINF0100                          ESTÁGIO SUPERVISIONADO       300
100    1107185                          ESTAGIO SUPERVISIONADO       300